<!-- <p>login works!</p> -->

<div class="login-section">
    <div class="header-section">
        <h3 class="title">Sign Up</h3>
    </div>
  <form
    action=""
    class="login-form"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="form-block-section">
      <div class="form-group">
        <label for="">User Name</label>
        <mat-form-field>
          <input class="form-control" placeholder="Enter User Name" formControlName="userName"/>
        </mat-form-field>
      </div>
      <!-- Form Grout-->
      <div class="form-group">
        <label for="">Email Id</label>
        <mat-form-field>
          <input class="form-control" placeholder="Enter Email Id" type="email" formControlName="emailId"/>
        </mat-form-field>
      </div>
      <!-- Form Grout-->
      <div class="form-group">
        <label for="">Mobile Number</label>
        <mat-form-field>
          <input class="form-control" placeholder="Enter Mobile Number" formControlName="mobileNumber" />
        </mat-form-field>
      </div>
      <!-- Form Grout-->
      <div class="form-group">
        <label for="">Password</label>
        <mat-form-field>
          <input class="form-control" placeholder="Enter password" type="password" formControlName="password"/>
        </mat-form-field>
      </div>
      <!-- Form Grout-->
      <div class="form-group">
        <label for="">Corporate Code</label>
        <mat-form-field>
          <input class="form-control" placeholder="Enter Corporate Code" formControlName="corporateCode"/>
        </mat-form-field>
      </div>
      <!-- Form Grout-->
    <button class="btn btn-success" type="submit">Submit</button>
    </div>
  </form>
</div>
